body,html {
    font-family:-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen,Ubuntu,Cantarell,Fira Sans,Droid Sans,Helvetica Neue,sans-serif;
    -webkit-font-smoothing:antialiased;
    color: #222;
}

body {
    padding: 20px;
    background: #fdfdfd;
    margin: 0;
    min-width: 1350px;
}

h3.center {
    font-weight: 200;
    font-size: 30px;
    text-align: center;
    padding: 10px;
    margin: 20px auto 40px
}

.svgContainer {
    text-align: center;
    background: #fafafa;
    border: solid 1px #dedede;
    min-height: 3900px;
    overflow: scroll;
}

.node {
    cursor: pointer;
}

.node circle {
    fill: #fff;
    stroke: steelblue;
    stroke-width: 1.5px;
}

.node text {
    font-size: 13px;
}

.link {
    fill: none;
    stroke: #ccc;
    stroke-width: 1.5px;
}

.btn-container {
    max-width: 600px;
    margin: auto;
    margin-bottom: 40px;
    display: grid;
    grid-gap: 20px;
    padding: 10px;
    grid-template-columns: 1fr 1fr;
}

button {
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 1, 0.15);
    border-radius: 5px;
    padding: 8px 10px;
    text-transform: uppercase;
    font-size: 11px;
    font-weight: bold;
    background: #fff;
    border: solid 1px transparent;
    transition: all .2s;
    outline: none;
}

button:hover {
    box-shadow: 0px 0px 40px 0px rgba(0, 0, 1, 0.2);
    cursor: pointer;
}

button:active {
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 1, 0.15);
}